/* BackGround Image */
html{

	background: url("../background.png");
}
body{
	margin-right: 100px;
	margin-left: 100px; 
	text-align: center;
	
	
}

/* Name of Game */

h1{
	font-family: Georgia, Garamond, serif;
	font-size: 60px;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	height: 80px;
}

/*Instructions*/

.Instructions{
	border: 2px solid white;
	background: #e8665a;
	color: black;
	font-size: 20px;
	
}

/* Win and Losses Score Box*/

#Game{
	
	width: 200px;
	height: 160px;
	float: right;
	position: relative;
	background-color: #24f0e9;
	font-size: 30px;
	top: 20px;
	border: 2px solid #eee;
	clear: both;
}
/* Random Number Box */

#RandomNumber{
	text-align: center;
	background-color: #24f050;
	color: #ac24f0;
	border: 2px solid #eee;
	position: relative;
	margin-right: 50%;
	height: 160px;
	top: 20px;
	font-size: 150px;
}

/* Crystal Boxes */

#yellow{
	clear: both;
	text-align: center;
	display: inline;
	width: 100px;
	height:100px;	
}
#red{
	clear: both;
	text-align: center;
	display: inline;
	width: 80px;
	height: 70px;	
}
#blue{
	clear: both;
	text-align: center;
	display: inline;
	width: 80px;
	height: 70px;	
}
#green{
	clear: both;
	text-align: center;
	display: inline;
	width: 80px;
	height: 70px;	
}
.points{
	color: white;
	background-color: #e04c79;
	border: 2px solid white;
	height: 20px;
	position: relative;
	clear: both;
	margin-right: 100px;
	margin-left: 100px; 
	
}

/* Your Score Box */

#TotalScore{
	border: 2px solid white;
	background-color: #e04c79;
	color: white;
	clear: both;
	height: 150px;
	text-align: center;
	font-size: 150px;
	margin-right: 100px;
	margin-left: 100px; 
}